body, header, main, footer, button, input {
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.dark-mode {
    background-color: #0f1c2e; /* Fundo escuro */
    color: white; /* Texto branco para contraste */
}

/* Ajustes opcionais para elementos como botões e inputs */
.dark-mode button {
    background-color: #333;
    color: white;
    border: 1px solid white;
}

.dark-mode input {
    background-color: #222;
    color: white;
    border: 1px solid white;
}



/*botao do tema escuro*/
.toggle-container {
    position: relative;
    width: 80px;
    height: 40px;
    position: absolute; /* Permite posicionamento absoluto na tela */
    top: 0; /* Alinha no topo */
    left: 0; /* Alinha à esquerda */


}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    transition: .4s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.light-mode .toggle-slider {
    background: #7ec4f0;
    transition: ease 1.5s;
}

.dark-mode .toggle-slider {
    transition: ease 0.5s;
    background: #0f1c2e;
}

.toggle-slider:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    border-radius: 50%;
    transition: .4s;
    z-index: 2;
}

.light-mode .toggle-slider:before {
    background: #FFEB3B;
    box-shadow: 0 0 15px rgba(255, 193, 7, 0.6);
}

.dark-mode .toggle-slider:before {
    background: #f5f5f5;
    transform: translateX(40px);
    box-shadow: 0 0 10px rgba(176, 190, 197, 0.6);
}

.cloud {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    filter: blur(2px);
}

.cloud1 {
    width: 20px;
    height: 12px;
    top: 10px;
    left: 45px;
}

.cloud2 {
    width: 25px;
    height: 15px;
    top: 18px;
    left: 55px;
}

.star {
    position: absolute;
    background: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%,
            68% 57%, 79% 91%, 50% 70%,
            21% 91%, 32% 57%, 2% 35%, 39% 35%);
    opacity: 0;
    transition: opacity 0.8s;
}

.dark-mode .star {
    opacity: 0.9;
}

.star1 {
    width: 3px;
    height: 3px;
    top: 10px;
    left: 20px;
}

.star2 {
    width: 2px;
    height: 2px;
    top: 15px;
    left: 35px;
}

.star3 {
    width: 2.5px;
    height: 2.5px;
    top: 5px;
    left: 60px;
}
